@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nokora Black';
    src: url('./assets/fonts/Nokora/Nokora-Black.ttf');
}

@font-face {
    font-family: 'Nokora Bold';
    src: url('./assets/fonts/Nokora/Nokora-Bold.ttf');
}

@font-face {
    font-family: 'Nokora Light';
    src: url('./assets/fonts/Nokora/Nokora-Light.ttf');
}

@font-face {
    font-family: 'Nokora Regular';
    src: url('./assets/fonts/Nokora/Nokora-Regular.ttf');
}

@font-face {
    font-family: 'Nokora Thin';
    src: url('./assets/fonts/Nokora/Nokora-Thin.ttf');
}


.section-container {
    margin: 10em auto;
    padding: 0 2em;
    max-width: 1180px;
}

.fade-down {
    position: relative;
}

.fade-down::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, rgb(243 244 246));
    border-radius: inherit;
    pointer-events: none;
}